:root {
  --color-primario: #189456a9;
  --color-secundario: #987bf0af;
  --color-texto: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #e8e7f1;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primario);
  color: #fff;
  padding-bottom: 50px;
}

.user-card-add {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  background-color: #ffffff;
  font-weight: bold;
  border: #ffffff solid 10px;
  border-radius: 10px;
  box-shadow: 0 8px 24px #000;
}

.user-card-add input {
  color: #000;
  font-weight: bold;
}

#nameInput {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

#addUserBtn {
  font-size: 40px;
  border-radius: 100%;
  width: 60px;
  border: solid #d2d1da;
  align-self: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  border: 20px solid var(--color-primario);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.users-ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #e8e7f1;
  margin-top: -40px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  overflow: hidden;
  padding: 20px;
}

.user-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  background-color: var(--color-primario);
  font-weight: bold;
  border: var(--color-primario) solid 3px;
  border-radius: 10px;
  width: auto;
  margin-bottom: 20px;
  list-style: none;
  text-decoration: none;
  box-shadow: 0 8px 24px #000;
}

.user-card h4 {
  color: #fff;
  font-size: 2em;
  overflow: hidden;
}

.user-card-foodcheck-container {
  background-color: #a998f9;
  background-color: #fff;
  margin-bottom: 2px;
  border-radius: 4px;
  height: 30px;
  align-content: center;
}

.user-card-foodcheck {
  color: #190885;
}

.user-card-foodlabel {
  font-weight: bold;
  color: #190885;
}

.user-card-foodexpense {
  margin-bottom: 5px;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  height: 30px;
  align-content: center;
}

.user-card-drinkcheck-container {
  background-color: #a998f9;
  background-color: #fff;
  height: 30px;
  align-content: center;
}

.user-card-drinkcheck {
  background-color: var(--color-primario);
}

.user-card-drinklabel {
  color: #190885;
}

.user-card-drinkexpense {
  margin-bottom: 5px;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  height: 30px;
  align-content: center;
}

.footer {
  grid: 4/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  margin-top: auto;
  background-color: var(--color-primario);
  width: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.footer-btn {
  background-color: #fff;
  font-size: 40px;
  transform: translateY(-50%);
  border-radius: 100%;
  border: solid #d2d1da;
}

.footer-p {
  color: #fff;
}
